<% var meta = {
    pageTitle:'starter',
    description:'foo',
    keywords:'foo',
    url:'http://www.example.com/'
  };
  var page={
      root:filePath.dir
  };
%>
<%- include(page.root + 'common/meta/coding/_top', {param:'param'}); %>


<div id="c-top">


  <top></top>


</div>

<%- include(page.root + 'common/_footer', {param:'param'}); %>


<!-- /#app -->
<script type="text/javascript" src="<%-conf.path.js%>/coding/c-top.js"></script>
</body>

</html>
