<section class="section section6" id="section6">

  <div class="secTtl">
    <h2 class="secTtl__text">
      background-clip
    </h2>
  </div>

  <div class="sec6Trial">

    <div class="content-box">
      <p>
        background-clip: content-boxで<br>グラデかけたborderを作成
      </p>
    </div>
    <div class="text-bg">
      <p class="text">
        background-clipのtextで<br>背景グラデーションを文字色に適応させる
      </p>
    </div>

  </div>



</section>
