<section class="section section16" id="section16">
  <div class="secTtl">
    <h2 class="secTtl__text">
      fill with water
    </h2>
  </div>

  <div class="sec16">
    <div class="cup">

    </div>
  </div>
</section>
