<section class="section section11" id="section11">
  <div class="secTtl">
    <h2 class="secTtl__text">
      spin text
    </h2>
  </div>

  <div class="spin">

    <ul class="spinText">
      <li class="spinText__letter">S</li>
      <li class="spinText__letter">P</li>
      <li class="spinText__letter">I</li>
      <li class="spinText__letter">N</li>
    </ul>
  </div>

</section>
