<section class="section section18 sec18" id="section18">
  <div class="secTtl">
    <h2 class="secTtl__text sec18__text">
      cursor-transparent
    </h2>
  </div>

  <div class="blackBg">
    <img src="<%-conf.path.img%>cheetah.jpg" alt="">
    <div class="overlay"></div>
    <div class="range"></div>
  </div>



</section>
