<section class="section section2">
  <div class="secTtl">
    <h2 class="secTtl__text">
      two
    </h2>
  </div>


  <div class="sec2Trial">
    <div class="sec2El"></div>
    <div class="sec2El"></div>
    <div class="sec2El"></div>
  </div>

</section>
