<section class="section section1">
  <div class="secTtl">
    <h2 class="secTtl__text">
      scroll-snap
    </h2>
  </div>


  <div class="snap-container">
    <div class="red"></div>
    <div class="blue"></div>
    <div class="yellow"></div>
  </div>




  <div class="secNote">
    <h3>注意事項</h3>
    <p>特に無し</p>
  </div>


</section>
