<section class="section section8" id="section8">
  <div class="secTtl">
    <h2 class="secTtl__text">
      Sass Loop
    </h2>
  </div>



  <div class="animation-wrapper equal">
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
    <div class="circle normal"></div>
  </div>
  <div class="animation-wrapper gradual">
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
    <div class="circle abnormal"></div>
  </div>



</section>
