<section class="section section3">
  <div class="secTtl">
    <h2 class="secTtl__text">
      three
    </h2>
  </div>


  <div class="sec3Trial">
    <div class="sec3El"></div>
    <div class="sec3El"></div>
    <div class="sec3El"></div>
  </div>

</section>
