<section class="section section4">

  <div class="secTtl">
    <h2 class="secTtl__text">
      javascript
    </h2>
  </div>

  <div class="sec4Trial">
    <button class="btn-reset">リセット</button>
    <div class="circle">
      move
    </div>

    <div class="flex">
      <button class="btn-left">左へ</button>
      <button class="btn-right">右へ</button>

    </div>
  </div>
</section>
