<section class="section section9" id="section9">
  <div class="secTtl">
    <h2 class="secTtl__text">
      date attribute
    </h2>
  </div>

  <!-- データ属性を追加---------------------------------- -->
  <div class="hover tooltip" data-tooltip="ホバーしてくれてありがとう！">
    <p class="hoverText">
      ホバーしてみて！
    </p>
  </div>

</section>
