<section class="section section5">

  <div class="secTtl">
    <h2 class="secTtl__text">
      transform-style: preserve-3d<br>
      backface-visibility: visible;

    </h2>
  </div>


  <div class="cardWrap">
    <div class="cardBox">
      <div class="card facebook">
        <div class="cardFront">front</div>
        <div class="cardBack">back</div>
      </div>
    </div>
    <div class="cardBox">
      <div class="card twitter">
        <div class="cardFront">front</div>
        <div class="cardBack">back</div>
      </div>
    </div>
    <div class="cardBox">
      <div class="card instagram">
        <div class="instagramBg">
          <div class="instagramBg__wrap"></div>
        </div>

        <div class="cardFront">front</div>
        <div class="cardBack">back</div>
      </div>
    </div>
  </div>




</section>
