<section class="section section1" id="section1">
  <div class="secTtl">
    <h2 class="secTtl__text">
      scroll-snap
    </h2>
  </div>


  <div class="snap-container">
    <div class="red"></div>
    <div class="blue"></div>
    <div class="yellow"></div>
  </div>




  <div class="secNote">
    <h3>cssのみで作成</h3>
  </div>


</section>
