@charset "utf-8";

$distance:100px;

.footer {
  width: 100%;
  padding: $distance 0 10px;
  background-color: #433A44;
}

.f-nav {
  display: table;
  margin: 0 auto $distance;
}

.f-ul {
  width: 300px;
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #fff;

  &:first-child {
    border-left: none;
  }
}

.f-li {
  text-align: center;
  margin-bottom: 10px;

  & a {
    color: #C1C1C1;

    &:hover {
      color: #91C2F5;
    }

  }

  &--ttl {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
  }

  &--left {
    text-align: left;
  }
}

.f-copy {
  text-align: center;
  color: #fff;
  font-size: .8em;
}
