@charset "utf-8";

$distancePc:100px;
$distanceSp:100/750*100vw;

.footer {
  width: 100%;
  padding: $distancePc 0 10px;
  background-color: #433A44;

  @include sp {
    padding: $distanceSp 0 10px;
  }
}

.f-nav {
  display: table;
  margin: 0 auto $distancePc;

  @include sp {
    margin: 0 auto $distanceSp;
  }
}

.f-ul {
  width: 300px;
  display: table-cell;
  vertical-align: top;

  @include pc {
    border-right: 1px solid #fff;

  }

  @include sp {
    display: block;
    border-bottom: none;
  }

  &:last-child {
    border-right: none;

    @include sp {
      border-bottom: none;
    }
  }
}

.f-li {
  text-align: center;
  padding: 5px 0;

  &:last-child {
    @include sp {
      // border-bottom: 1px solid #fff;
      margin-bottom: 60/750*100vw;
    }
  }

  & a {
    color: #C1C1C1;

    &:hover {
      color: #91C2F5;
    }

  }

  &--ttl {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;

    @include sp {
      margin-bottom: 20/750*100vw;
    }
  }

  &--left {
    text-align: left;
  }
}

.f-copy {
  text-align: center;
  color: #fff;
  font-size: .8em;
}
