<% var meta = {
    pageTitle:'',
    description:'foo',
    keywords:'foo',
    url:'http://www.example.com/'
  };
  var page={
      root:filePath.dir
  };
%>
<% var imgpath = '/assets/img/coding/page/' %>
<%- include(page.root + 'common/meta/coding/_page', {param:'param'}); %>
<div id="c-page">
  <main class="c-page">

    <page name="work1" path="<%= imgpath %>">
      <template slot="mainCont">
        <div class="wrap">
          <img src="/assets/img/coding/page/page1.png" alt="" />
          <div class="overlay"></div>
          <div class="area"></div>
        </div>
      </template>
      <template slot="html">
        &lt;div class="wrap"&gt;
        &lt;img src="/assets/img/coding/page/page1.png" alt=""&gt;
        &lt;div class="overlay">&lt;/div&gt;
        &lt;div class="area">&lt;/div&gt;
        &lt;/div&gt;
      </template>
      <template slot="css">
        .wrap {
        position: relative;
        overflow: hidden;
        width: 100%;
        }

        .area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
        }

        .overlay {
        position: absolute;
        width: 2000px;
        height: 2000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: radial-gradient(transparent 0, transparent 8%,
        rgba(0, 0, 0, .25) 10%,
        rgba(0, 0, 0, .2) 12%,
        rgba(0, 0, 0, .9) 14%);
        }
      </template>
      <template slot="javascript">
        //.areaの範囲でカーソルを動かしたときの処理
        var area = document.querySelector(".area");
        area.addEventListener("mousemove", (e) => {

        // .areaのサイズを取得
        var clientRect = area.getBoundingClientRect();

        // 画面上端からの距離を取得
        var areaTop = clientRect.top;

        // 画面左端からの距離を取得
        var areaLeft = clientRect.left;

        // カーソルの座標を取得
        var cursorTop = e.clientY;
        var cursorLeft = e.clientX;

        // カーソルから.areaの端までの距離を取得
        var distanceY = cursorTop - areaTop;
        var distanceX = cursorLeft - areaLeft;

        // 取得した距離を.overlayのtopとleftに代入
        $('.overlay').css({
        "top": distanceY + 'px',
        "left": distanceX + 'px'
        });

        });
      </template>
    </page>
  </main>
</div>

<%- include(page.root + 'common/_footer', {param:'param'}); %>

<!-- css manipulation ----------------------------------------- -->
<style>
  .wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    width: 2000px;
    height: 2000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(transparent 0, transparent 8%, rgba(0, 0, 0, .25) 10%, rgba(0, 0, 0, .2) 12%,
        rgba(0, 0, 0, .9) 14%);

  }

</style>

<!-- call the common javascript ------------------------------------ -->
<script type="text/javascript" src="<%-conf.path.js%>coding/c-page.js"></script>



<!------------------------------------------- javascript manipulatio -->

</body>

</html>
