<% var meta = {
    pageTitle:'',
    description:'foo',
    keywords:'foo',
    url:'http://www.example.com/'
  };
  var page={
      root:filePath.dir
  };
%>
<% var imgpath = '/assets/img/coding/page/' %>
<%- include(page.root + 'common/meta/coding/_page', {param:'param'}); %>
<div id="c-page">
  <main class="c-page">


    <page name="work13" tab="1">


      <template slot="mainCont">



        <div class="excursion">
          <div class="schedule">
            <div class="wrapper">

              <div class="date">
                <div class="plan js-anc-red">
                  <p>
                    plan①
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan②
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan③
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan④
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan⑤
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan⑥
                  </p>
                </div>
                <div class="plan js-anc-red">
                  <p>
                    plan⑦
                  </p>
                </div>
              </div>

              <div class="date">
                <div class="plan js-anc-blue">
                  <p>
                    plan①
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan②
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan③
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan④
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan⑤
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan⑥
                  </p>
                </div>
                <div class="plan js-anc-blue">
                  <p>
                    plan⑦
                  </p>
                </div>
              </div>

            </div><!-- wrapper -->
          </div><!-- schedule -->
        </div><!-- excursion -->

        <div class="modal modal-red">
          <div class="swiper-container red-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>①</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>②</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>③</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>④</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑤</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑥</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑦</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- modal -->

        <div class="modal modal-blue">
          <div class="swiper-container blue-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>①</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>②</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>③</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>④</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑤</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑥</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="modal-wrap">
                  <div class="modal-cont">
                    <p>⑦</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- modal -->

        <button class="js-red-right"></button>
        <button class="js-red-left"></button>
        <button class="js-blue-right"></button>
        <button class="js-blue-left"></button>

      </template>



      <template slot="html">
        &lt;div class="excursion"&gt;
        &lt;div class="schedule"&gt;
        &lt;div class="wrapper"&gt;

        &lt;div class="date"&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan①
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan②
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan③
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan④
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan⑤
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan⑥
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-red"&gt;
        &lt;p&gt;
        plan⑦
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="date"&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan①
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan②
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan③
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan④
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan⑤
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan⑥
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="plan js-anc-blue"&gt;
        &lt;p&gt;
        plan⑦
        &lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;

        &lt;/div&gt;&lt;!-- wrapper --&gt;
        &lt;/div&gt;&lt;!-- schedule --&gt;
        &lt;/div&gt;&lt;!-- excursion --&gt;

        &lt;div class="modal modal-red"&gt;
        &lt;div class="swiper-container red-container"&gt;
        &lt;div class="swiper-wrapper"&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;①&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;②&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;③&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;④&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑤&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑥&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑦&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;&lt;!-- modal --&gt;

        &lt;div class="modal modal-blue"&gt;
        &lt;div class="swiper-container blue-container"&gt;
        &lt;div class="swiper-wrapper"&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;①&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;②&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;③&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;④&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑤&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑥&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="swiper-slide"&gt;
        &lt;div class="modal-wrap"&gt;
        &lt;div class="modal-cont"&gt;
        &lt;p&gt;⑦&lt;/p&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;&lt;!-- modal --&gt;

        &lt;button class="js-red-right"&gt;&lt;/button&gt;
        &lt;button class="js-red-left"&gt;&lt;/button&gt;
        &lt;button class="js-blue-right"&gt;&lt;/button&gt;
        &lt;button class="js-blue-left"&gt;&lt;/button&gt;
      </template>


      <template slot="css">
        .excursion {
        width: 100%;
        height: 100%;
        padding: 2% 25%;
        position: relative;
        }

        .schedule {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-image: url(../../../../../assets/img/coding/page/kv/schedule.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left;
        }

        .wrapper {
        width: 100%;
        height: 100%;
        padding: 1.5% 0 2% 8%;
        display: flex;
        justify-content: space-around;
        }

        .date {
        width: 40%;
        height: 100%;
        padding-bottom: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .plan {
        width: 100%;
        height: 8%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        cursor: pointer;
        transition: .5s;
        }

        .plan p {
        color: #fff;
        }

        .date:first-child .plan {
        background-color: red;
        }

        .date:first-child .plan:hover {
        background-color: rgb(155, 0, 0);
        }

        .date:last-child .plan {
        background-color: blue;
        }

        .date:last-child .plan:hover {
        background-color: rgb(0, 7, 112);
        }

        .modal {
        opacity: 0;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(65, 65, 65, .9);
        transition: .6s;
        transition-delay: 250ms;
        cursor: pointer;
        }

        .swiper-container,
        .swiper-wrapper,
        .swiper-slide {
        width: 100%;
        height: 100%;
        }

        .modal-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .modal-cont {
        width: 60vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .modal-red .modal-cont {
        background-color: red;
        }

        .modal-blue .modal-cont {
        background-color: blue;
        }

        .modal-cont p {
        font-size: 100px;
        font-weight: bold;
        color: #fff;
        }

        .show {
        opacity: 1;
        z-index: 2;
        }
      </template>

      <template slot="cssSp">
        .excursion {
        width: 100%;
        height: 100%;
        padding: 2% 25%;
        position: relative;
        }

        .schedule {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-image: url(../../../../../assets/img/coding/page/kv/schedule.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left;
        }

        .wrapper {
        width: 100%;
        height: 100%;
        padding: 1.5% 0 2% 8%;
        display: flex;
        justify-content: space-around;
        }

        .date {
        width: 40%;
        height: 100%;
        padding-bottom: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .plan {
        width: 100%;
        height: 8%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        cursor: pointer;
        transition: .5s;
        }

        .plan p {
        font - size: 2 vw;
        color: #fff;
        }

        .date:first-child .plan {
        background-color: red;
        }

        .date:first-child .plan:hover {
        background-color: rgb(155, 0, 0);
        }

        .date:last-child .plan {
        background-color: blue;
        }

        .date:last-child .plan:hover {
        background-color: rgb(0, 7, 112);
        }

        .modal {
        opacity: 0;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(65, 65, 65, .9);
        transition: .6s;
        transition-delay: 250ms;
        cursor: pointer;
        }

        .swiper-container,
        .swiper-wrapper,
        .swiper-slide {
        width: 100%;
        height: 100%;
        }

        .modal-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .modal-cont {
        width: 90 vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        .modal-red .modal-cont {
        background-color: red;
        }

        .modal-blue .modal-cont {
        background-color: blue;
        }

        .modal-cont p {
        font - size: 20 vw;
        font-weight: bold;
        color: #fff;
        }

        .show {
        opacity: 1;
        z-index: 2;
        }
      </template>


      <template slot="js">
        class Function {

        constructor() {
        this.redSwiper;
        this.blueSwiper;
        }

        init() {

        // swiperSetUp()関数実行
        this.swiperSetUp();

        // modalOpen()関数実行
        this.modalOpen(".modal-red", ".js-anc-red", this.redSwiper);
        this.modalOpen(".modal-blue", ".js-anc-blue", this.blueSwiper);

        // modalClose()関数実行
        this.modalClose(".modal");

        } //init

        /**
        * プランボタンクリックでモーダルを表示する関数
        * @param {モーダル要素} m
        * @param {アンカー要素} anc
        * @param {インスタンス} s
        */
        modalOpen(m, anc, s) {
        var anchor = document.querySelectorAll(anc);
        for (let i = 0; i &lt; anchor.length; i++) {
        anchor[i].addEventListener("click", () =&gt; {
        this.modalShowSlideTo(m, anc, s)
        });
        }
        } //modalOpen

        /**
        * swiperインスタンス生成する関数
        */
        swiperSetUp() {
        this.redSwiper = new Swiper('.red-container', {
        navigation: {
        nextEl: '.js-red-right',
        prevEl: '.js-red-left',
        },
        loop: true
        });

        this.blueSwiper = new Swiper('.blue-container', {
        navigation: {
        nextEl: ".js-blue-right",
        prevEl: ".js-blue-left",
        },
        loop: true
        });
        } //swiperSetUp

        /**
        * モーダルを表示&該当する順番のスライドを表示する関数
        * @param {モーダル要素} m
        * @param {アンカー要素} anc
        * @param {インスタンス} s
        */
        modalShowSlideTo(m, anc, s) {
        var modal = document.querySelector(m);
        var anchor = document.querySelectorAll(anc);
        modal.classList.add("show");
        for (let i = 0; i &lt; anchor.length; i++) {
        s.slideTo(el);
        }
        } //modalShowSlideTo

        // モーダルを閉じる関数
        modalClose(m) {
        var modal = document.querySelectorAll(m);
        for (let i = 0; i &lt; modal.length; i++) {
        modal[i].addEventListener("click", () =&gt; {
        modal[i].classList.remove("show");
        });
        }
        } //modalClose

        } //Function

        /**
        * createdのタイミングでFunctionクラスの内容を実行
        */
        window.addEventListener("load", () =&gt; {
        const swiper = new Function();
        swiper.init();
        });
      </template>
    </page>
  </main>
</div>

<%- include(page.root + 'common/_footer', {param:'param'}); %>

<!-- css manipulation ----------------------------------------- -->
<style type="text/css">
  .excursion {
    width: 100%;
    height: 100%;
    padding: 2% 25%;
    position: relative;
  }

  .schedule {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../../../../../assets/img/coding/page/kv/schedule.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 1.5% 0 2% 8%;
    display: flex;
    justify-content: space-around;
  }

  .date {
    width: 40%;
    height: 100%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plan {
    width: 100%;
    height: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    cursor: pointer;
    transition: .5s;
  }

  .plan p {
    color: #fff;
  }

  .date:first-child .plan {
    background-color: red;
  }

  .date:first-child .plan:hover {
    background-color: rgb(155, 0, 0);
  }

  .date:last-child .plan {
    background-color: blue;
  }

  .date:last-child .plan:hover {
    background-color: rgb(0, 7, 112);
  }

  .modal {
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(65, 65, 65, .9);
    transition: .6s;
    transition-delay: 250ms;
    cursor: pointer;
  }

  .swiper-container,
  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
    height: 100%;
  }

  .modal-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-cont {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-red .modal-cont {
    background-color: red;
  }

  .modal-blue .modal-cont {
    background-color: blue;
  }

  .modal-cont p {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
  }

  .show {
    opacity: 1;
    z-index: 2;
  }

  @media screen and (max-width: 768px) {
    .modal-cont {
      width: 90vw;
    }

    .modal-cont p {
      font-size: 20vw;
    }

    .plan p {
      font-size: 2vw;
    }
  }

</style>

<!-- call the common javascript ------------------------------------ -->
<script type="text/javascript" src="<%-conf.path.js%>coding/c-page.js"></script>



<!------------------------------------------- javascript manipulatio -->

</body>

</html>
