<% var meta = {
    pageTitle:'',
    description:'foo',
    keywords:'foo',
    url:'http://www.example.com/'
  };
  var page={
      root:filePath.dir
  };
%>
<% var imgpath = '/assets/img/coding/page/' %>
<%- include(page.root + 'common/meta/coding/_page', {param:'param'}); %>
<div id="c-page">
  <main class="c-page">


    <page name="work12" tab="3">


      <template slot="mainCont">

        <nav class="nav">
          <ul class="nav-wrap">
            <li class="nav-list js-list underline"><a href="#aliceblue">aliceblue</a></li>
            <li class="nav-list js-list"><a href="#orange">orange</a></li>
            <li class="nav-list js-list"><a href="#turquoise">turquoise</a></li>
            <li class="nav-list js-list"><a href="#pink">pink</a></li>
            <li class="nav-list js-list"><a href="#yellowgreen">yellowgreen</a></li>
            <li class="nav-list js-list"><a href="#blue">blue</a></li>
          </ul>
        </nav>

        <div class="wrapper">

          <div class="wrap">

            <section id="aliceblue" class="section js-target aliceblue"></section>
            <section id="orange" class="section js-target orange"></section>
            <section id="turquoise" class="section js-target turquoise"></section>
            <section id="pink" class="section js-target pink"></section>
            <section id="yellowgreen" class="section js-target yellowgreen"></section>
            <section id="blue" class="section js-target blue"></section>


          </div>

        </div>


      </template>




      <template slot="html">

      </template>


      <template slot="css">

      </template>


      <template slot="js">
        <!-- ソースとしてjavascriptを記述 -->
      </template>
    </page>
  </main>
</div>

<%- include(page.root + 'common/_footer', {param:'param'}); %>

<!-- css manipulation ----------------------------------------- -->
<style type="text/css">
  .cont {
    position: relative;
  }

  .nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }

  .nav-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .nav-list {
    margin-bottom: 5px;
    position: relative;
    font-size: 18px;
  }

  .underline:after {
    width: 120%;
    height: 3px;
    background-color: rgb(86, 125, 255);
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .wrap {
    width: 100%;
    height: calc(100% * 7);
    display: flex;
    flex-direction: column;
  }

  .section {
    width: 100%;
    height: 100%;
  }

  .section:last-child {
    width: 100%;
    height: 200%;
  }

  .aliceblue {
    background-color: aliceblue;
  }

  .orange {
    background-color: orange;
  }

  .turquoise {
    background-color: turquoise;
  }

  .pink {
    background-color: pink;
  }

  .yellowgreen {
    background-color: yellowgreen;
  }

  .blue {
    background-color: blue;
  }

</style>

<!-- call the common javascript ------------------------------------ -->
<script type="text/javascript" src="<%-conf.path.js%>coding/c-page.js"></script>



<!------------------------------------------- javascript manipulatio -->

</body>

</html>
