@charset "utf-8";

.section7 {
  background-color: rgb(194, 255, 245);

}


.stalker {
  pointer-events: none;
  position: fixed;
  top: -8px; //座標調節（カーソル位置と円の中心を合わせる）
  left: -8px; //座標調節（カーソル位置と円の中心を合わせる）
  width: 16px; //マウスストーカーの直径
  height: 16px; //マウスストーカーの直径
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s; //ちょっと遅れてついてくるように
  transition-timing-function: ease-out;
  opacity: 0;
  will-change: transform;
}
