@charset "utf-8";

// section2-------------------------------------------------


.section2 {
  background-color: rgb(230, 255, 230);

  @include sp {}
}


.sec2Trial {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include sp {}
}

.sec2El {
  width: 100px;
  height: 100px;
  background-color: #555;

  @include sp {}
}
