@charset "utf-8";

.section17 {
  background-color: #050801;
  padding-bottom: 200px;
}

.secTtl__text {
  color: #fff;
}

.neon {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Link {
    position: relative;
    display: inline-block;
    margin: 40px 0;
    padding: 25px 30px;

    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    color: #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(3, 233, 244, .6));

    &--1 {
      filter: hue-rotate(290deg);
    }

    &--3 {
      filter: hue-rotate(110deg);
    }


    &:hover {
      background-color: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
      -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(3, 233, 244, 1));
    }

  }

  &Span {
    position: absolute;
    display: block;

    &--1 {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: animate--1 1s linear infinite;

    }


    @keyframes animate--1 {
      0% {
        left: -100%;
      }

      50%,
      100% {
        left: 100%;
      }
    }

    &--2 {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: animate--2 1s linear infinite;
      animation-delay: .25s;
    }

    @keyframes animate--2 {
      0% {
        top: -100%;
      }

      50%,
      100% {
        top: 100%;
      }
    }

    &--3 {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, #03e9f4, transparent);
      animation: animate--3 1s linear infinite;
      animation-delay: .5s;

    }


    @keyframes animate--3 {
      0% {
        right: -100%;
      }

      50%,
      100% {
        right: 100%;
      }
    }

    &--4 {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, #03e9f4, transparent);
      animation: animate--4 1s linear infinite;
      animation-delay: 0.75s;
    }

    @keyframes animate--4 {
      0% {
        bottom: -100%;
      }

      50%,
      100% {
        bottom: 100%;
      }
    }
  }
}
