@charset "utf-8";

.section4 {
  background-color: rgb(205, 241, 255);

  @include sp {}



  .circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 10px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(255, 198, 92);
    cursor: pointer;
    position: relative;
    transition: .5s;

    @include sp {}


  }


  .btn {
    display: block;
    margin: 40px auto 0;
  }


  .btn-reset {
    display: block;
    margin: 0 auto 50px;
  }

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .right {
    transform: translateX(100px);
  }

  .left {
    transform: translateX(-100px);
  }
}
