@charset "utf-8";


// 共通部分------------------------------------------------
.section {
  margin: 0 auto 40px;
  padding: 80px 0;

  @include sp {}
}


.secTtl {
  margin: 0 auto 60px;

  @include sp {}

  &__text {
    font-size: 18px;
    text-align: center;

    @include sp {}
  }
}




// section1-------------------------------------------------


.section1 {
  background-color: rgb(230, 255, 230);

  @include sp {}
}

.snap-container {
  width: 600px;
  height: 300px;
  margin: 0 auto 60px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  @include sp {
    width: 80%;
    height: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}

.red {
  width: 100%;
  flex: none;
  background-color: rgb(94, 177, 255);
  scroll-snap-align: start;

  @include sp {
    width: 100%;
    height: 100%;
  }
}

.blue {
  width: 100%;
  flex: none;
  background-color: rgba(65, 255, 214, 0.63);
  scroll-snap-align: start;

  @include sp {
    width: 100%;
    height: 100%;
  }
}

.yellow {
  width: 100%;
  flex: none;
  background-color: rgba(233, 88, 91, 1);
  scroll-snap-align: start;

  @include sp {
    width: 100%;
    height: 100%;
  }
}


.secNote {
  width: 400px;
  margin: 0 auto;
  text-align: center;

  & h3 {
    text-align: left;
  }

  & p {
    text-align: left;
  }
}
