@charset "utf-8";

.section8 {
  background-color: #ffc6c2;
}

.sec8 {

  &Ques {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &Wrap {
    width: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Txt {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    color: #000;
    font-size: 24px;

    & span {
      color: rgb(197, 0, 0);
      text-decoration: underline;
      font-size: 24px;
    }
  }
}
