<footer class="l-footer">
  <!-- <div id="app">
    {{ message }}
  </div> -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script type="text/javascript" src="<%-conf.path.js%>bundle.js"></script>

<!-- lazyload使い方----------------------------------------- -->
<!-- ①CDNコード1行
②lazyload仕様宣言
③imgタグの属性にdate-srcを記述 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
<script>
  $("img.lazyload").lazyload();
</script> -->
</body>

</html>
