<section id="sec7" class="section section7">

  <div class="secTtl">
    <ttl></ttl>
  </div>



  <div class="cont">
    <div class="sec7Wrap">
      <btn01></btn01>
      <btn02></btn02>
    </div>

    <cont></cont>


  </div>





</section>
