<section class="section section7">
  <div class="secTtl">
    <h2 class="secTtl__text">
      components(basic)<br>
    </h2>
  </div>

  <div id="sec7">
    <div class="cont">
      <explanation num="1" product="ダウン" price="34,000" text="詳細"></explanation>
      <explanation num="2" product="スカート" price="26,000" text="詳細"></explanation>
      <explanation num="3" product="デニム" price="27,500" text="詳細"></explanation>
      <explanation num="4" product="カバン" price="22,000" text="詳細"></explanation>
      <explanation num="5" product="シューズ" price="15,000" text="詳細"></explanation>

    </div>
  </div>




</section>
