<section class="section section6">

  <div class="secTtl">
    <h2 class="secTtl__text">
      v-bind
    </h2>
  </div>

  <div id="sec6" class="bind">
    <div class="cont bind">
      <p class="bindTtl">style<br>
        border-radiusはborderRadiusとなり、<br>font-sizeはfontSizeとなる。</p>
      <div class="bindRect" v-bind:style="rectObject">
        <div class="bindCircle" v-bind:style="circleObject"></div>
      </div>
    </div>
  </div>



</section>
