<section class="section section1">
  <div class="secTtl">
    <h2 class="secTtl__text">
      text
    </h2>
  </div>

  <div id="sec1">
    <div class="cont basic">
      <p class="basicText" v-text="text">

      </p>
    </div>

    <div class="cont">
      <p class="contText">

      </p>
    </div>
  </div>

</section>
