<section class="section section8">
  <div class="secTtl">
    <h2 class="secTtl__text">
      components(advanced)
    </h2>
  </div>

  <div id="sec8">
    <div class="cont">





    </div>
  </div>



</section>
