@charset "utf-8";

.coding {
  &First {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;

    &Wrap {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &Ttl {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


      &__area {
        position: relative;
        width: 140/1920*100vw;
        // width: 820/1920*100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      &__h1 {
        position: absolute;
        color: transparent;
        pointer-events: none;
      }

      &__left {
        width: 52/1920*100vw;
        height: 52/1920*100vw;
      }

      &__right {
        width: 52/1920*100vw;
        height: 52/1920*100vw;
      }

      &__letter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        opacity: 0;
      }

      &__01 {
        width: 44/1920*100vw;
        height: 42/1920*100vw;
        margin: auto 0 auto 31/750*100vw;



      }

      &__02 {
        width: 54/1920*100vw;
        height: 8/1920*100vw;
        margin: auto 0 auto 55/750*100vw;

      }

      &__03 {
        width: 69/1920*100vw;
        height: 65/1920*100vw;
        margin: auto 0 auto 83/750*100vw;

      }

      &__04 {
        width: 29/1920*100vw;
        height: 36/1920*100vw;
        margin: 6/750*100vw 0 0 112/750*100vw;

      }

      &__05 {
        width: 52/1920*100vw;
        height: 48/1920*100vw;
        margin: auto 0 auto 132/750*100vw;

      }

      &__06 {
        width: 61/1920*100vw;
        height: 65/1920*100vw;
        margin: auto 0 auto 160/750*100vw;

      }

      &__07 {
        width: 44/1920*100vw;
        height: 38/1920*100vw;
        margin: auto 0 auto 187/750*100vw;

      }

      &__08 {
        width: 67/1920*100vw;
        height: 68/1920*100vw;
        margin: auto 0 auto 210/750*100vw;

      }

      &__09 {
        width: 65/1920*100vw;
        height: 63/1920*100vw;
        margin: auto 0 auto 241/750*100vw;
      }

      &__10 {
        width: 28/1920*100vw;
        height: 68/1920*100vw;
        margin: auto 0 auto 274/750*100vw;
        transform: rotate(-20deg);
      }
    }

    &Box {
      width: 160/1920*100vw;
      height: 160/1920*100vw;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transform: translate(-370px, 30px) rotate(0deg);
      z-index: 1;

      // &--01 {
      //   background-color: rgba(216, 128, 243, 0.7);
      // }

      // &--02 {
      //   background-color: rgba(68, 16, 83, 0.7);
      // }


      &__wrap {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }

    &Rect {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      transform: scale(.6);

      &--01 {
        width: 40/1920*100vw;
        height: 40/1920*100vw;
        top: -800/1920*100vw;
      }

      &--02 {
        width: 30/1920*100vw;
        height: 30/1920*100vw;
        top: -800/1920*100vw;
      }
    }

  }


  // svg {
  //   transform: scale(.8);
  // }

  &Kv {
    position: relative;
    width: 100%;
    background-image: url(../../assets/img/coding/kv.jpg);
    background-size: cover;
    background-position: center;

    &__deco01 {
      width: 200/1920*100vw;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__deco02 {
      width: 400/1920*100vw;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &Main {
    border-top: 1.5px solid rgb(168, 168, 168);
    height: 5000px;
    background-color: #000;
  }

  &Works {
    width: 1100px;
    margin: 0 auto;
    padding: 200px 0;

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__cont {
      width: 320px;
      height: 200px;
      background-color: #fff;
      margin-bottom: 100px;
    }
  }



}



.js-jack {
  animation: jackInTheBox .4s forwards;
}

.js-fall {
  animation: fall .3s forwards;
}

.js-bounce {
  animation: bounce 1.2s forwards ease-out;
}

.js-rotate01 {
  animation: rotate01 .5s forwards ease-out;
}

.js-rotate02 {
  animation: rotate02 .5s forwards ease-out;
}

.js-swing {
  animation: swing 1.6s forwards;
}

.js-lean {
  animation: lean .4s forwards;
}

.js-vanish {
  animation: vanish 2s forwards ease-out .8s;
}

.js-smaller {
  animation: smaller 2s forwards ease-out .8s;
}
